.container-body-center{
    display: flex;
    justify-content: center;
    align-items:  center;
  }
  
.container-body{
  width: 1200px;
  
  padding: 20px 10px 10px 10px;
  overflow-x: auto;
  overflow-y: auto;
}

.container-title{
    padding: 0 20px 10px;
    color: #282828;   
}
.container-info-none{
    height: 52px;
    width: 100%;
    border: 1px solid #33333359;
    border-collapse: collapse;
    border-radius: 6px;
}
.container-info{
    width: 100%;
    border: 1px solid #33333359;
    border-collapse: collapse;
    border-radius: 6px;
}
.container-info-menu{
    width: 100%;
    height: 50px;
    background:#ebebeb;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    border-radius: 6px;
}
.button-add{
    margin-left: 10px;
}
.button-search{
    margin-right: 10px; 
}
.container-form{
    padding: 20px 35px 35px 35px;
}
.form-label{
    font-size: 14px;
}
.form-control {
    font-size: 14px;
}
.container-button-save{
    display: flex;
    justify-content: flex-end;
    align-items:  center;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-left: 10px;
}