header#main-header{
    width: 100%;
    height: 50px;
    background:#46a0f5;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items:  center;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 50px;
}
.itens{
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
}
a{ 
  color: #fff;
}
a:hover{ 
    color: #1f1d1d !important;
}

.dropdown-menu {
    font-size: 16px;
    color: #212529;
    background-color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:none; 
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ebebeb;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
     background-color:none; 
}
